{{ define "main" }}
    {{ with .Site.GetPage "section" ( .Dir | strings.TrimSuffix "/" ) }}
        <main>
            <article>
                <header>
                    <h1 class="list-header">{{.Title}}</h1>
                </header>
                <div class="list-header">
                    <!-- "{{.Content}}" pulls from the markdown content of the corresponding xxx_index.md -->
                    {{.Content}}
                </div>
            </article>
            <ul class="list-range">
            {{ range first 10 .Data.Pages }}
                <li class="list-range">
                    <a class="list-range" href="{{.RelPermalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                    <div class="list-range">
                        <image src="/img/{{ .Param "image" }}" alt="{{ .Param "imagetext" }}" width="10%" height="10%"></image>
                        {{ .Summary }}
                    {{ $.Param "image" }}
                    </div>
                {{ if .Truncated }}
                    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                    <div>
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </div>
                {{ end }}
                    <hr>
                </li>
            {{ end }}
            </ul>
        </main>
    {{ end }}
{{ end }}